name: npm run lint
on:
  push:
  workflow_call: # SRC: https://docs.github.com/en/actions/using-workflows/reusing-workflows
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
  npm_run_lint:
    name: npm run lint
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: percebus/github-actions-node/.github/actions/node_setup@main
      - uses: percebus/github-actions-npm/actions/npm_install@main

      - name: npm run lint
        run: npm run lint
